:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #F9EBB6;
    --clr-dark: #282727;
    --clr-accent: #F6CB5A;
    --clr-white: #F3F4F4;
    --clr-black: #000000;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15); 
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}



body {
    margin: 0;
    padding: 25 0 20px;
    text-align: center;
    font-family: var(--ff-primary);
    background-color: var(--clr-white);
}

#cardid {
    display: none;
}

h1 {
    font-family: var(--ff-primary);
    color: var(--clr-accent);
    font-weight: 900;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 200;
    right: 0;
    left:0;
    z-index: 100;
    font-size: 20px;
}

.nav-butt {
    float: right;
    background-color: var(--clr-light);
    border: none;
    color: var(--clr-black);
    padding: 15px  20px;
    text-decoration: none;
    text-align: center;
    font-size: var(--fs-body);
    margin: 15px 20px 15px;
}

.title {
    justify-self: start;
    align-self: center;
    margin-left: 20px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "title nav-butt nav-butt nav-butt";
    grid-column-gap: 2em;
}

/* FIGURE OUT HOW TO CORRECTLY FORMAT ALL THE WORDS */
.game {
    margin: 50px;
    background-color: var(--clr-dark);
    display: grid;
    grid-template-areas:
        "winStatus winStatus"
        "dealer player"
        "draw_button stand_button";
        
}

.dealer, .player {
    justify-self: center;
    flex-wrap: wrap;
    color: var(--clr-white);
}

.dealer {
    grid-template-areas: 
        "dealer_score dealer_score"
        "card_imageD card_imageD"
        "card_imageD card_imageD";
}

.player {
    grid-template-areas: 
        "dealer_score dealer_score"
        "card_imageD card_imageD"
        "card_imageD card_imageD";
}

.card_imageD, .card_imageP {
    max-width: 226px;
    max-height: 314px;
}

.draw_button, .stand_button {
    margin: 10px;
    border: none;
    background-color: var(--clr-light);
}

td {
    padding: 25px;
a {
    color: var(--clr-black);
    text-decoration: none;
    font-size: medium;
}